      body {
	  margin:30px;
	  color: black;
	  background: #ffffff;
	  font-family: verdana, helvetica, sans-serif;
          max-width: 800px;
      }
      #rfigure {
	  float: right;
	  padding:3px;
	  margin-right: 25px;
	  background:#fff;
      }
      #lfigure {
	  float: left;
	  padding:3px;
	  margin-left: 25px;
	  background:#fff;
      }
      #cfigure {
	  float: center;
	  padding:3px;
	  background:#fff;
      }
      #bg1{
          background:#456;
      }
      #flow{
	  background:#fff;
	  float: left;
      }
      
      h1 {
          margin: 5px; padding: 5px;
          font-family: verdana, helvetica, sans-serif;
          font-size: 24px;
          font-weight: bold;
          color: #555555;
	  padding-top: 15px;
	  clear: both;
      }
      h1.underline {
          border-bottom: 3px solid #ff0022;
      }
      h2 {
          margin: 7px; padding: 7px;
          font-family: verdana, helvetica, sans-serif;
	  font-size: 20px;
          font-weight: bold;
	  color: #000080;
	  padding-top: 15px;
	  clear: both;
      }
      
      h3 {
          margin: 9px; padding: 9px;
	  font-family: verdana, helvetica, sans-serif;
	  font-size: 16px;
          font-weight: bold;
	  font-style: italic;
	  color: #333333;
	  padding-top: 10px;
	  clear: both;
      }

      h4 {
          margin: 11px; padding: 11px;
	  font-family: verdana, helvetica, sans-serif;
	  font-size: 13px;
	  color: #000080;
	  clear: both;
      }

      h5 {
	  font-family: verdana, helvetica, sans-serif;
	  font-size: 12px;
	  color: #000000;
          margin-left: 15px;
      }

      h6 {
	  font-family: verdana, helvetica, sans-serif;
	  font-size: 11px;
	  color: #000000;
          margin-left: 15px;
      }

      p {
          font-family: verdana, helvetica, sans-serif;
	  font-size: 12px;
          margin:25px;
	  margin-top: 15px;
	  margin-bottom: 1.2em;
      }

      td {
          font-family: verdana, helvetica, sans-serif;
	  font-size: 12px;
	  color: #000000;
      }

      table tr td table tr td p {
          font-family: verdana, helvetica, sans-serif;
	  font-size: 12px;
	  color: #000000;
      }

      th {
          font-family: verdana, helvetica, sans-serif;
	  font-size: 12px;
	  font-weight: bold;
	  color: #000000;
      }

      td.footer
      {
	  font-family : verdana, helvetica, sans-serif;
	  font-style : normal;
	  font-size : 10px;
	  color: #000000;
	  font-weight : normal;
      }

      td p {
          margin: 0px;
          margin-left: 10px;
      }
          
      td a:visited, td a:link, td a:active {
          font-family: verdana, helvetica, sans-serif;
	  font-weight: normal;
	  color: #0000ff;
	  text-decoration: none;
      }

      td a:hover:visited, td a:hover:link, td a:hover:active {
          font-family: verdana, helvetica, sans-serif;
	  font-weight: normal;
	  color: #0000ff;
	  text-decoration: underline;
      }

      li {
	  font-family: verdana, helvetica, sans-serif;
	  font-size: 12px;
	  color: #003366;
      }

      ul {
	  font-family: verdana, helvetica, sans-serif;
	  color: #003366;
	  margin:25px;
      }

      ul ul {
	  font-family: verdana, helvetica, sans-serif;
	  font-size: 12px;
	  color: #003366;
      }

      ol {
	  font-family: verdana, helvetica, sans-serif;
	  color: #003366;
	  margin:25px;
      }

      ol ul {
	  font-family: verdana, helvetica, sans-serif;
	  font-size: 12px;
	  color: #003366;
      }

      ol ol {
	  font-family: verdana, helvetica, sans-serif;
	  font-size: 12px;
	  color: #003366;
      }

      ol ol ul {
	  font-family: verdana, helvetica, sans-serif;
	  font-size: 12px;
	  color: #003366;
      }

      ol ul ul {
	  font-family: verdana, helvetica, sans-serif;
	  font-size: 12px;
	  color: #003366;
      }

      dl, dd  {
          margin: 10px;
          margin-left: 25px;
          font-family: verdana, helvetica, sans-serif;
	  font-size: 12px;
	  color: #000000;
      }


      blockquote, form {
          font-family: verdana, helvetica, sans-serif;
	  font-size: 12px;
	  color: #000000;
      }

      a:link {
	  color: #0099CC;
      }

      a:visited {
	  color: #9966CC;
      }

      a:active {
	  color: #9E9FA7;
      }

      a:hover {
	  color: #9E9FA7;
      }

      .tablegrey {
	  background-color: #F2F1F1;
	  border-top: solid 1px #9E9FA7;
	  border-bottom: dashed 1px #9E9FA7;
      }

      .tableblue {
	  background-color: #DAEFFF;
	  border: solid 1px #6DAACC;
      }



      address {
          font-family: verdana, helvetica, sans-serif;
	  font-style : italics;
	  font-size : 10px;
      }

      pre {
          font-family: Courier New, Courier;
	  font-size: 12px;
          margin:25px;
      }

      kbd {

          font-family: Courier;
      }

      p.header {
	  font-family : verdana, helvetica, sans-serif;
	  font-style : normal;
	  font-size : 24px;
	  color: #545F93;
	  font-weight : bold;
      }

      p.caption {
          font-size: 10px;
	  color: #000;
	  margin: 5px;
	  margin-bottom: 10px;
      }

      a.flink:visited, a.flink:link, a.flink:active {
          font-family: verdana, helvetica, sans-serif;
	  font-weight: bold;
	  color: #0000ff;
	  text-decoration: none;
      }
      a:hover.flink:visited, a:hover.flink:link, a:hover.flink:active {
          font-family: verdana, helvetica, sans-serif;
	  font-weight: bold;
	  color: #0000ff;
	  text-decoration: underline;
      }
      strong.navy {
          color: #000080;
      }
      strong.blue {
          color: #0000ff;
      }
      code.teal {
          font-size: 110%;
          color: teal;
          font-weight: bold;
          text-decoration: none;
      }
      code.blue {
          font-size: 110%;
          color: blue;
          font-weight: bold;
          text-decoration: none;
      }
      #codeBox {
          font-family: Verdana, Arial, Helvetica, Sans Serif;
          font-size: 90%;
          max-width: 450px;
          min-width: 300px;
          border: 1px solid #ccc;
          padding: 5px;
          padding-top: 0px;
          padding-bottom: 0px;
          margin: 0px;
          margin-left: 12px;
          margin-right: 25px;
          float: right;
      }

